.advantages {
  background-color: #eeeeee;
}

.advantages__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.advantages__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.advantages__item {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: 768px) {
    border: none;
    width: 195px;
  }

  &:last-child {
    border-bottom: none;
  }
}

.advantages__title {
  margin: 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 150px;
    margin: 0 auto;
  }
}

.advantages__excerpt {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #4f4f4f;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 190px;
    margin: 0 auto;
  }
}
