.devils-bridge {
  background-color: #81b3d2;
  text-align: center;
}

.devils-bridge__box {
  width: 295px;
  margin: auto;
  padding-top: 33px;
  padding-bottom: 40px;
}

.devils-bridge__title {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.devils-bridge__excerpt {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.devils-bridge__img {
  width: 100%;
}
