.footer-main {
  background-color: #ffffff;
}

.footer-main__wrapper {
  width: 320px;
  padding-top: 32px;
  padding-bottom: 23px;
  margin: auto;
  text-align: center;

  @media (min-width: 768px) {
    width: 768px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.footer-main__top {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: 768px) {
    width: 150px;
  }

  @media (min-width: 1200px) {
    width: 150px;
    margin: 0;
    margin-left: 110px;
  }
}

.footer-main__link-top {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.footer-main__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
}

.footer-main__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.footer-main__link {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-main__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 140px;

  @media (min-width: 768px) {
    margin-left: 65px;
  }

  @media (min-width: 1200px) {
    margin: 0;
    margin-right: 115px;
    margin-left: 8px;
  }
}

.footer-main__link-bottom {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
