.header-main__wrapper {
  padding-bottom: 56px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

.header-main__list {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    height: 56px;
    flex-direction: row;
    background-color: #ffffff;
    margin-bottom: 2px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 4px;
  }
}

.header-main__list--closed {
  @media (max-width: 768px) {
    display: none;
  }
}


.header-main__item {
  height: 55px;
  text-align: center;
  background-color: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: 768px) {
    height: 56px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: none;

    &:hover {
      background-color: #ffffff;
    }

    &:active {
      background-color: #ffffff;
    }
  }
}

.header-main__item:nth-child(2) {
  @media (min-width: 768px) {
    margin-left: 76px;
  }

  @media (min-width: 1200px) {
    margin-left: 162px;
  }
}

.header-main__item:nth-child(1) {
  @media (min-width: 768px) {
    margin-left: 49px;
  }

  @media (min-width: 1200px) {
    margin-left: 90px;
  }
}

.header-main__item:nth-child(3) {
  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: 50px;
  }

  @media (min-width: 1200px) {
    margin-right: 139px;
  }
}

.header-main__item:nth-child(4) {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  padding-bottom: 3px;

  @media (min-width: 768px) {
    margin-right: 26px;
  }

  @media (min-width: 1200px) {
    margin-right: 70px;
    padding-bottom: 0;
  }
}

.header-main__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 18px;
  line-height: 58px;
  font-weight: 700;

  &:last-child {
    line-height: 62px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #766357;
    }
  }
}

.header-main__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    top: 0;
  }
}

.header-main__button--closed {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  top: 16px;
  right: 19px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  z-index: 3;
}

.header-main__button--open {
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  margin-right: 12px;
  right: 9px;
  margin-top: 16px;
  cursor: pointer;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: 768px) {
    display: none;
  }
}

.header-main__button {
  display: none;
  position: absolute;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  margin-right: 12px;
  right: 0;
  margin-top: 16px;

  @media (min-width: 768px) {
    display: none;
  }
}

.header-main__button path:hover {
  fill: rgba(129, 179, 210, 0.7);
}

.header-main__button path:active {
  fill: rgba(129, 179, 210, 0.3);
}
