
.header-main__list {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.header-main__item {
  height: 55px;
  line-height: 55px;
  text-align: center;
  text-transform: uppercase;
  background-color: #81b3d2;
  box-shadow: rgba(1, 1, 1, 0.2);
}

.header-main__button-exit {
  &::before {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 15px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-cross.svg");
    background-repeat: no-repeat;
  }
}

.header-main__link {
  text-decoration: none;
  color: #ffffff;
}

.header-main__button-burger {
  width: 100%;
  height: 56px;
  background-color: #ffffff;
  text-align: center;
}

.header-main__link-button-burger {
  z-index: 3;

  &::before {
    display: block;
    content: "";
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 15px;
    width: 23px;
    height: 23px;
    background-image: url("../img/icon-menu-burger.svg");
    background-repeat: no-repeat;
  }
}
