.photo-gallery {
  width: 100%;
}

.photo-gallery__top {
  width: 100%;
  min-height: 158px;
  background-image: url("../img/sedona-background-form.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.photo-gallery__position-img {
  margin-top: 50px;
}

.photo-gallery__bottom {
  width: 310px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.photo-gallery__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.photo-gallery__excerpt {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #4f4f4f;
  text-transform: uppercase;
}
