.popup-dispatched__wrapper {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1870px;

  @media (min-width: 768px) {
    top: 1270px;
  }

  @media (min-width: 1200px) {
    top: 1122px;
  }
}

.popup-dispatched__box {
  display: none;
  width: 320px;
  padding-top: 23px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  text-align: center;

  @media (min-width: 768px) {
    width: 640px;
    padding-top: 27px;
  }
}

.popup-dispatched__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.popup-dispatched__excerpt {
  text-align: center;
  width: 216px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 416px;
    margin-bottom: 45px;
  }
}

.popup-dispatched__button {
  margin-bottom: 20px;
  width: 280px;
  height: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;

  @media (min-width: 768px) {
    margin-bottom: 43px;
    width: 458px;
  }
}

.popup-dispatched__button-box {
  background-color: #f2f2f2;
  padding-top: 20px;

  @media (min-width: 768px) {
    padding-top: 43px;
  }
}
