.video-presentation__wrapper {
  width: 100%;
  padding-top: 15px;

  @media (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 43px;
  }

  @media (min-width: 1200px) {
    padding-top: 57px;
    padding-bottom: 88px;
  }
}

.video-presentation__top {
  width: 100%;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: 768px) {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 78px;
  }
}

.video-presentation__bottom {
  width: 320px;
  height: 311px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}

.video-presentation__title {
  margin: 0 auto;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.video-presentation__excerpt {
  width: 250px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #4f4f4f;
  text-transform: uppercase;

  @media (min-width: 768px) {
    width: 450px;
  }
}

.video-presentation__control {
  position: relative;
  bottom: 49px;

  @media (min-width: 768px) {
    bottom: 97px;
  }
}

.video-presentation__skale {
  display: flex;
  align-items: center;
  margin-left: 20px;
  width: 280px;
  height: 45px;
  background-color: #000000;
  opacity: 0.6;

  @media (min-width: 768px) {
    width: 648px;
    height: 93px;
    margin: 0;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}

.video-presentation__bar {
  display: block;
  margin: auto;
  line-height: 20px;
  width: 235px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.2;

  @media (min-width: 768px) {
    width: 389px;
    margin-left: 95px;
  }

  @media (min-width: 1200px) {
    width: 540px;
  }
}

.video-presentation__video-functions {
  width: 280px;
  height: 66px;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    background: #ffffff;
    display: inline;
  }
}

.video-presentation__functions-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 250px;
  display: flex;
  align-items: baseline;
}

.video-presentation__functions-item {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 3px;
  margin-right: 16px;

  @media (min-width: 768px) {
    position: absolute;
    bottom: 74px;
    margin-left: 325px;
  }

  @media (min-width: 1200px) {
    margin-left: 400px;
    bottom: 73px;
  }

  &:first-child {
    margin-top: -4px;
    margin-left: 10px;
    margin-right: 130px;

    @media (min-width: 768px) {
      margin: 0;
      left: 35px;
    }
  }

  &:last-child {
    margin-right: 0;
    margin-left: 15px;

    @media (min-width: 768px) {
      margin-left: 388px;
    }

    @media (min-width: 1200px) {
      margin-left: 462px;
    }
  }
}

.video-presentation__functions-item path {
  &:hover {
    fill: #333333;
  }

  &:active {
    fill: rgba(51, 51, 51, 0.3);
  }

  @media (min-width: 768px) {
    fill: #ffffff;

    &:hover {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.video-presentation__toggle {
  display: inline-block;
  position: relative;
  bottom: 139px;
  left: 78px;
  width: 9px;
  height: 9px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: 768px) {
    left: 206px;
    bottom: 78px;
  }

  @media (min-width: 1200px) {
    left: 205px;
  }
}

.video-presentation__button-player {
  display: inline-block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
